:root {
    --font-family-heading: "Anton", sans-serif;
    --font-family-body: "Noto Sans JP", sans-serif;

    --color-white: #fffefc;
    --color-black: #020911;
    --color-accent-red: #f20574;
    --color-accent-yellow: #f2e52e;
    --color-background-black: #171525;
    --color-background-navy: #030427;
    --color-form-background-yellow: #fffab9;
    --color-form-placeholder-gray: #ad9783;
    --color-form-border-red: #df6da2;
    --color-button-hover-red: #f043a5;
    --color-course-hover-yellow: #f4e877;
    --color-hero-overlay: rgba(57, 24, 111, 0.4);
    --color-course-overlay: rgba(32, 8, 19, 0.63);
}

/* global */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-body);
}

img {
    display: block;
}

/* header */
.header {
    height: 80px;
    background-color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    /* ヘッダーの追従 */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.header-logo-wrapper {
    margin: 0;
}

@media (max-width: 750px) {
    .header {
        height: 60px;
    }

    .header-logo {
        height: 30px;
    }
}

/* hero */
.hero {
    background-image: url(./img/hero.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 94px 40px;
    position: relative;
    margin-top: 80px;

}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-hero-overlay);
}

.hero-container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.hero-texts {
    color: var(--color-accent-yellow);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-main-copy {
    font-family: var(--font-family-heading);
    font-size: 64px;
    line-height: 1;
    margin: 0;
    letter-spacing: 0.05em;
}

.hero-main-copy-ace {
    color: var(--color-accent-red);
}

.hero-sub-copy {
    margin: 0;
}

@media (max-width:750px) {
    .hero {
        margin-top: 60px;
        padding: 40px 20px;
    }

    .hero-container {
        justify-content: flex-start;
    }

    .hero-texts {
        gap: 20px;
    }
}

/* about */
.about {
    background: var(--background-black, #171525);
    padding: 80px 0px;
    margin: 0;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    gap: 40px;
}

.about-main {
    display: flex;
    font-size: 32px;
    font-family: var(--font-family-heading);
    color: var(--color-white);
}

.about-main-1 {
    color: var(--color-accent-yellow);
}

.about-main-2 {
    color: var(--color-accent-red);
}

.about-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.about-sub-text {
    color: var(--color-white);
    height: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-sub-img {
    width: 320px;
    flex-shrink: 0;
}

.live-img {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

@media(max-width:750px) {
    .live-img {
        display: none;
    }

    .about-sub-img {
        display: none;
    }

    .about {
        display: flex;
        padding: 40px 20px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        align-self: stretch;
    }

    .about-main {
        padding: 0px 0px;
    }

    .about-container {
        padding: 0px 0px;
    }
}

/* courses */
.courses {
    background: var(--color-background-navy, #171525);
    padding: 80px 0px;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

.courses-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    gap: 40px;
    width: 100%;
}

.courses-title {
    color: var(--white, #FFFEFC);
    font-family: var(--font-family-heading);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
}

.courses-title p {
    margin: 0;
    padding: 0;
}

.courses-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.courses-box-cours {
    display: flex;
    flex-direction: row;
    align-items: center;
    filter: drop-shadow(4px 4px var(--color-accent-red));
    width: 100%;
}

.course-img {
    background-image: url(./img/live.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 250px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
}

.course-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--course-overlay, rgba(32, 8, 19, 0.63));
    /* 重ねる順番 */
    z-index: 1;
    /* 下層のコンテンツをクリックできるように */
    pointer-events: none;
}

.course-img p {
    color: var(--color-white);
    font-family: var(--font-family-heading);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
    z-index: 2;
}

.course-textbox {
    display: flex;
    flex-direction: column;
    height: 150px;
    padding: 20px;
    gap: 10px;
    background-color: var(--color-accent-yellow);
    /* テキストボックスを画面幅に合わせる */
    flex-grow: 1;
}

.course-textbox-text {
    color: var(--color-black);
    font-family: var(--font-family-body);
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 110px;
}

.course-textbox-text p {
    margin: 0;
    padding: 0;
}

.course-textbox-more {
    color: var(--color-accent-red);
    font-family: var(--font-family-body);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.course-textbox-more p {
    margin: 0;
    padding: 0;
}

.courses-other {
    background-color: var(--color-accent-red);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    filter: drop-shadow(4px 4px var(--color-accent-yellow));
    width: 100%;
}

.courses-other p {
    color: var(--white, #FFFEFC);
    font-family: var(--font-family-heading);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.arrow-right-img {
    background-color: var(--color-accent-red);
    align-items: right;
    position: absolute;
    right: 30px;
}

/* ホバー時のアニメーションを追加 */
.courses-box-cours {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.courses-other {
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* ホバー時に影を消してから影を追加 */
.courses-box-cours:hover {
    filter: none;
    filter: drop-shadow(12px 12px 2px var(--color-button-hover-red));
}

.courses-other:hover {
    filter: none;
    filter: drop-shadow(12px 12px 2px var(--color-course-hover-yellow));
}


/* 背景の色変更 */
.courses-box-cours:hover .course-textbox {
    background: var(--course-hover-yellow, #F4E877);
}

.courses-other:hover {
    background: var(--color-button-hover-red, #F4E877);
}

.courses-other:hover .arrow-right-img {
    background: var(--color-button-hover-red, #F4E877);
}